recursive-include man *

include LICENSE README.rst CHANGES.rst

prune docs
prune fabfile
prune examples
prune setup.cfg
prune pyproject.toml
prune .github
prune .ruff_cache

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .ruff_cache

exclude .gitignore
exclude .dockerignore
exclude .pre-commit-config.yaml
exclude Dockerfile
exclude requirements*.txt
exclude tox.ini
exclude MANIFEST.in
exclude .coveragerc
