Fabric==1.8.2
pudb==2014.1
tox==1.7.0
pytest==2.5.2
pytest-cov==1.6
Sphinx==1.2.2
Sphinx-PyPI-upload==0.2.1
sphinxcontrib-bitbucket==1.0
sphinxcontrib-googleanalytics==0.1
sphinxcontrib-programoutput==0.8
