# Convenient Development Tasks
Fabric==1.8.3

# Debugging
pudb==2014.1

# Running Tests
tox==1.7.1
pytest==2.5.2
pytest-cov==1.6

# Generating Documentation
Sphinx==1.2.2
Sphinx-PyPI-upload==0.2.1
sphinxcontrib-bitbucket==1.0
sphinxcontrib-googleanalytics==0.1
sphinxcontrib-programoutput==0.8
