.wiki {
 font: 96% sans-serif;
 color: #2e3436;
 line-height: 1.4;
 min-height: 100%;
 background-attachment: fixed;
 margin: 0;
 padding: 1px 0 0 0;
}

.wiki p {
    padding-top: 10px;
}

.wiki a {
 color: #3465a4;
 text-decoration: none;
}
.wiki a.external {
 text-decoration: underline;
}
.wiki a:visited {
 color: #7589d5;
}
.wiki a.nonexistent {
 color: #888a85;
}
.wiki a:hover {
 color: #000;
 text-decoration: underline;
}

.wiki a img { border: none;  }

.wiki input, textarea {
 font-size: 100%;
 border: 1px solid #ccc;
 background: #fff;
 color: #666;
 outline: 0.4em solid #eee;
 padding: 0;
 line-height: 1.2;
 margin: 0.5em;
 vertical-align: middle;
 font-family: Droid Mono, DejaVu Mono, Lucida Console, Lucida Typewriter, monospace;
}
.wiki textarea:focus, input:focus {
 border: 1px solid #ccdcbd;
 outline: 0.4em solid #f2fce9;
}
.wiki input:active {
 background: #f2fce9;
 color: #000;
 border: 1px solid #ccdcbd;
 outline: 0.75em solid #f2fce9;
}
.wiki textarea {
 display: block;
 margin: 0.5em auto;
 height: 22em;
 width: 97%;
}
.wiki h1, h2, h3, h4, h5 {
 color: #abbc9a;
 font-weight: normal;
 letter-spacing: 0.05em;
 line-height: 1;
 margin: 0.75em 0 0.5em 0;
}

h1 { font-size: 19px; margin: .15em 1em 0.5em 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }
address { font-style: normal }

.wiki pre {
 font-size: 90%;
    white-space: pre-wrap;
    line-height: 1.2;
    color: #666;
    font-family: Droid Mono, DejaVu Mono, Lucida Console, Lucida Typewriter, monospace;
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    margin: 1em 1.75em;
    padding: .25em;
    overflow: auto;
}

img.smiley {
 vertical-align: baseline;
}

.wiki table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
}

.wiki table td {
    border: 1px solid #ccc;
    padding: .1em .25em;
}

.wiki i img {
 border: 1px solid #ccc;
 outline: 0.25em solid #eee;
 padding: 0.25em;
 float: right;
 margin: 0.25em 0 0.25em 0.5em;
 background: #fff;
}
.wiki b.highlight {
 color: #644e22;
 background: #fef4a4;
}
.wiki ul li {
 list-style: url(../images/bullet.png) outside;
}
.wiki ol li {
 list-style: decimal;
}
.wiki ul, ol {
 margin: 0.25em 0;
 padding: 0 0 0 1.5em;
}

.wiki hr {
 height:0;
 border: none;
 color: #fff;
 background: transparent;
 border-bottom: 1px solid #ccc;
 margin: 0.5em 0;
}
